<div [ngSwitch]="functionCase">
  <div *ngSwitchCase="0">
    <h1>
      Welcome to our database Project
    </h1>
    <p>
      What would you like to do?
    </p>
    <button pButton type="button" label="Add Student" (click)="addStudent()"></button>
    <button pButton type="button" label="Add Course" (click)="addCourse()"></button>
    <button pButton type="button" label="Add Enrollment" (click)="addApp()"></button>
    <button pButton type="button" label="View Students" (click)="viewStudents()"></button>
    <button pButton type="button" label="View Courses by department" (click)="viewCoursesByDepartment()"></button>
    <button pButton type="button" label="View Courses by student" (click)="viewCoursesByStudent()"></button>
  </div>
  <div *ngSwitchCase="1">
    <app-student (save)="saveStudent($event)"></app-student>
    <button pButton type="button" label="Go Back" (click)="goBack()"></button>
  </div>
  <div *ngSwitchCase="2">
    <app-course (save)="saveCourse($event)"></app-course>
    <button pButton type="button" label="Go Back" (click)="goBack()"></button>
  </div>
  <div *ngSwitchCase="3">
    <app-enrollment (save)="saveEnrollment($event)"></app-enrollment>
    <button pButton type="button" label="Go Back" (click)="goBack()"></button>
  </div>
  <div *ngSwitchCase="4">
    <p-table [value]="students">
      <ng-template pTemplate="header">
        <tr>
          <th>Student ID</th>
          <th>Student Name</th>
          <th>Major</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-student>
        <tr>
          <td>{{student.studentId}}</td>
          <td>{{student.studentName}}</td>
          <td>{{student.major}}</td>
        </tr>
      </ng-template>
    </p-table>
    <button pButton type="button" label="Go Back" (click)="goBack()"></button>
  </div>
  <div *ngSwitchCase="5">
    <form #courseFormId [formGroup]="deptForm">
      <div class="ui-float-label">
        <input formControlName="deptCode" id="deptCode" type="text" size="30" pInputText/>
        <label for="deptCode">Department Code</label>
      </div>
    </form>
    <button pButton type="button" label="Search by Code" (click)="searchByDeptCode()"></button>
    <button pButton type="button" label="Go Back" (click)="goBack()"></button>
  </div>
  <div *ngSwitchCase="6">
    <form #courseFormId [formGroup]="studentForm">
      <div class="ui-float-label">
        <input formControlName="studentId" id="studentId" type="text" size="30" pInputText/>
        <label for="studentId">Student Id</label>
      </div>
    </form>
    <button pButton type="button" label="Search by ID" (click)="searchByStudentId()"></button>
    <button pButton type="button" label="Go Back" (click)="goBack()"></button>
  </div>
  <div *ngSwitchCase="7">
    <p-table [value]="courses">
      <ng-template pTemplate="header">
        <tr>
          <th>Department Code</th>
          <th>Course Number</th>
          <th>Title</th>
          <th>Credit Hours</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-course>
        <tr>
          <td>{{course.deptCode}}</td>
          <td>{{course.courseNum}}</td>
          <td>{{course.title}}</td>
          <td>{{course.creditHours}}</td>
        </tr>
      </ng-template>
    </p-table>
    <button pButton type="button" label="Go Back" (click)="goBack()"></button>
  </div>
</div>

